@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
}
main {
  background-color: mediumaquamarine;
  height: 90vh;
  width: 100vh;
  margin: auto;
  display: inline-block;
  align-items: center;

}


main > div {
  width: 300%;
  margin: 0 auto;
  padding: 10%;
}

main {
  transform: skew(0deg, -10deg);
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 325px;
}
